					<nav class="main-nav" role="navigation">
						<ul class="main-menu">
							<li><a href="{{content.config.url}}" data-label="Home"><span class="fontawesome-home"></span>Home</a></li>
							<li><a href="{{content.config.url}}/appointment.html" data-label="Appointment"><span class="fontawesome-calendar"></span>Appointment</a></li>
						</ul><!-- .main-menu -->
					</nav><!-- .main-nav -->